<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>2048</name>

    <description>
        A small clone of 1024, based on Saming's 2048 (also a clone). 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Evan Lynch 
    </author>
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <!-- Plugins -->
<!--
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="766196756745086" />
        <param name="APP_NAME" value="2048" />
    </gap:plugin>

-->
</widget>