<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.EvanLynch.twenty_forty_eight"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>2048</name>

    <description>
        A small clone of 1024, based on Saming's 2048 (also a clone). 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Evan Lynch 
    </author>
        
    <icon src="img/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="img/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="img/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="img/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi" />
        
        
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <!-- Plugins -->
<!--
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="766196756745086" />
        <param name="APP_NAME" value="2048" />
    </gap:plugin>

-->
</widget>