/* Default ----------- */
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 895px) {
/* Styles */
	#AdLong {
		position: 	fixed;
		top: 		15%;
		display: block !important;
	}
	#AdLong2 {
		position: 	fixed;
		top: 		15%;
		right: 		1px;
		display: block !important;
	}
	#AdBannerBottom {
		position: 	fixed;
		bottom: 	1px;
		left: 		20%;
		display: block !important;
	}
	#MobiAd{
		display: none !important;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}


}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	#AdLong {
		display: none;
	}
	#AdLong2 {
		display: none;
	}
	#AdBannerBottom {
		display: none;
	}
	#MobiAd{
		position: 	fixed;
		bottom: 	1px;
		left: 		20%;
		display: block;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	#AdLong {
		display: none;
	}
	#AdLong2 {
		display: none;
	}
	#AdBannerBottom {
		display: none;
	}
	#MobiAd{
		position: 	fixed;
		bottom: 	1px;
		left: 		20%;
		display: block ;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	#AdLong {
		display: none;
	}
	#AdLong2 {
		display: none;
	}
	#AdBannerBottom {
		display: none;
	}
	#MobiAd{
		position: 	fixed;
		bottom: 	1px;
		left: 		20%;
		display: block ;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
	#AdLong {
		display: none;
	}
	#AdLong2 {
		display: none;
	}
	#AdBannerBottom {
		display: none;
	}
	#MobiAd{
		position: 	fixed;
		bottom: 	1px;
		left: 		20%;
		display: block ;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

